@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  padding-top: 50px;
  overflow-x: hidden;
}

.background {
  width: 100vw;
  height: 500px;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
}

.background::after {
  content: "";
  display: block;
  height: 100%;
  background: #0891b2;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
}

header {
  max-width: 1600px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.image {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
}

h1 {
  max-width: 300px;
  color: #fff;
  background: url(../images/corporate_man.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: saturate(150%);
  font-size: 2.5rem;
  text-align: center;
  padding-top: 350px;
  box-shadow: 6px 9px 15px -8px rgba(0, 0, 0, 0.75);
}

.about {
  max-width: 500px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 6px 9px 15px -8px rgba(0, 0, 0, 0.75);
}

.about h2 {
  font-size: 32px;
  padding: 16px 0;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #575655;
}

.links {
  margin: 32px 0 10px;
  text-align: right;
}

.links img,
.icons img,
svg {
  width: 30px;
  margin: 0 5px;
  cursor: pointer;
}

main {
  margin: 100px 50px;
}

main h2 {
  padding-bottom: 10px;
}

.projects {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 32px 16px;
}

.projects > div {
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 6px 9px 15px -8px rgba(0, 0, 0, 0.75);
}

.projects > div > div:first-of-type {
  width: 100%;
  height: 300px;
  background-color: #9e1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px;
}

.projects > div > div:first-of-type P {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5rem;
  color: #fff;
}

.projects > div > div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px 50px;
}

.projects > div > div:last-child p {
  font-size: 1.15rem;
  color: #575655;
  padding-top: 10px;
}

.projects > div:nth-child(2) > div:first-of-type {
  background-color: #7c75ca;
}

.projects > div:nth-child(3) > div:first-of-type {
  background-color: #5e8f4d;
}

.projects > div:nth-child(4) > div:first-of-type {
  background-color: #c363b4;
}

.projects > div:nth-child(5) > div:first-of-type {
  background-color: #d88f39;
}

.projects > div:last-of-type > div:first-of-type {
  background-color: #4ba2d2;
}

footer {
  padding: 50px;
  color: #fff;
  background-color: #0891b2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

footer > div:first-of-type {
  width: 350px;
}

footer svg {
  fill: #fff;
  vertical-align: middle;
}

footer p {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 5px;
}

footer P:nth-child(-n + 3) {
  padding: 20px 0;
}

footer .links {
  text-align: left;
}

footer > div:last-of-type {
  max-width: 400px;
}

footer > div:last-of-type img {
  width: 100%;
  object-fit: cover;
}

@media (width < 1160px) {
  .projects {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
}

@media (width < 882px) {
  footer > div:first-of-type {
    margin-bottom: 50px;
  }

  footer svg {
    display: none;
  }

  footer .links {
    text-align: center;
  }
}

@media (width < 790px) {
  .projects {
    grid-template: repeat(6, 1fr) / repeat(1, 1fr);
  }
}

@media (width < 1000px) and (width >= 600px) {
  header {
    flex-direction: column;
  }

  h1 {
    width: fit-content;
    background: transparent;
    font-size: 2.5rem;
    text-align: right;
    padding: 5px;
    margin-left: 200px;
    box-shadow: none;
    z-index: 2;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
  }

  .image {
    display: block;
    width: 250px;
    float: left;
    transform: scale(1.1, 1.35) translate(-30px, -20px);
  }

  .image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 6px 9px 15px -8px rgba(0, 0, 0, 0.75);
  }

  .about h2 {
    text-align: center;
    padding: 20px 0 5px;
  }

  .about p {
    margin-bottom: 50px;
  }

  .about .links {
    display: none;
  }
}

@media (width < 600px) {
  .background::after {
    height: 75%;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    gap: 24px;
  }

  .about {
    box-shadow: none;
  }

  .about h2 {
    font-size: 32px;
    text-align: center;
    padding: 5px 5px 16px;
  }

  .links {
    text-align: center;
  }
}
